In [116]:
import pandas as pd
import math
print(f"macaco {pd.__version__}")

macaco 2.2.0

In [117]:
dic_medidas = {
	"idade": [15,18,55,27,38,60,43,52,55],
	"altura": [160,170,146,200,210,163,155,180,182]
}

In [118]:
dic_medidas

{'idade': [15, 18, 55, 27, 38, 60, 43, 52, 55],
 'altura': [160, 170, 146, 200, 210, 163, 155, 180, 182]}

In [119]:
table_medidas = pd.DataFrame.from_dict(dic_medidas)

In [120]:
table_medidas

   idade  altura
0     15     160
1     18     170
2     55     146
3     27     200
4     38     210
5     60     163
6     43     155
7     52     180
8     55     182

# Medidas Resumo

### Medidas de posição

#### Média

In [121]:
## escolher qual coluna vamos coletar os dados
print("A média da idade é de ", table_medidas["idade"].mean())
print("A média da altura é de", table_medidas["altura"].mean())


# para calcular a média usamos o .mean() do pandas dataFrame

A média da idade é de  40.333333333333336
A média da altura é de 174.0

#### Mediana

In [122]:
## escolher qual coluna vamos coletar os dados
print("A mediana da idade é de ", table_medidas["idade"].median())
print("A mediana da altura é de", table_medidas["altura"].median())


# para calcular a mediana usamos o .median() do pandas dataFrame

A mediana da idade é de  43.0
A mediana da altura é de 170.0

#### Moda

In [123]:
## escolher qual coluna vamos coletar os dados
print("A moda da idade é de ", table_medidas["idade"].mode())
print("A moda da altura é de", table_medidas["altura"].mode()) # neste caso a altura não possui moda.


# para calcular a moda usamos o .mode() do pandas dataFrames

A moda da idade é de  0    55
Name: idade, dtype: int64
A moda da altura é de 0    146
1    155
2    160
3    163
4    170
5    180
6    182
7    200
8    210
Name: altura, dtype: int64

## Medidas de Dispersão

In [124]:
 # Variância
table_medidas.altura.var()

443.75

In [125]:
# desvio padrao
table_medidas.altura.std()

21.065374432940896

In [126]:
# coeficiente de variação da altura
table_medidas.altura.std() / table_medidas.altura.mean() * 100

12.106537030425804

In [127]:
# coeficiente de variação - Idade -> quanto maior a coeficiente de variação, mais os dados presentes no calculo se variam
## utilizando math.sqrt(descobrir raiz quadrada) math.sqrt(table_medidas.idade.var())
table_medidas.idade.std() / table_medidas.idade.mean() * 100

41.89275681499785

## Medidas de Forma

In [128]:
# Assimetria - Idade
table_medidas.idade.skew()
# possui a cauda esquerda mais longa, ou seja, os valores maiores estão mais comprimidos
# R: Assimetria negativa

-0.47498907090436476

In [129]:
# Assimetria - Altura
table_medidas.altura.skew()
# possui a cauda direita mais longa, os valores maiores estão mais espalhados
# R: Assimetria positiva

0.5503419362721405

In [130]:
# Curtose - Idade
table_medidas.altura.kurtosis()
# Curtose negativa, ou seja, nos 2 casos, possui uma distribuição mais achatados, os dados estão mais espalhados

-0.5718493496188395

In [131]:
# Curtose - Altura
table_medidas.idade.kurtosis()
# Curtose negativa, ou seja, nos 2 casos, possui uma distribuição mais achatados, os dados estão mais espalhados

-1.4396620582775075

In [132]:
# Obter medidas estatísticas
table_medidas.idade.describe()

count     9.000000
mean     40.333333
std      16.896745
min      15.000000
25%      27.000000
50%      43.000000
75%      55.000000
max      60.000000
Name: idade, dtype: float64