In [ ]:
import pandas as pd
print(f"macaco {pd.__version__}")

In [8]:
dic_medidas = {
	"idade": [15,18,55,27,38,60,43,52,55],
	"altura": [160,170,146,200,210,163,155,180,182]
}

In [9]:
dic_medidas

{'idade': [15, 18, 55, 27, 38, 60, 43, 52, 55],
 'altura': [160, 170, 146, 200, 210, 163, 155, 180, 182]}

In [10]:
table_medidas = pd.DataFrame.from_dict(dic_medidas)

In [11]:
table_medidas

   idade  altura
0     15     160
1     18     170
2     55     146
3     27     200
4     38     210
5     60     163
6     43     155
7     52     180
8     55     182

# Medidas Resumo

### Medidas de posição

#### Média

In [16]:
## escolher qual coluna vamos coletar os dados
print("A média da idade é de ", table_medidas["idade"].mean())
print("A média da altura é de", table_medidas["altura"].mean())


# para calcular a média usamos o .mean() do pandas dataFrame

A média da idade é de  40.333333333333336
A média da altura é de 174.0

#### Mediana

In [19]:
## escolher qual coluna vamos coletar os dados
print("A mediana da idade é de ", table_medidas["idade"].median())
print("A mediana da altura é de", table_medidas["altura"].median())


# para calcular a mediana usamos o .median() do pandas dataFrame

A mediana da idade é de  43.0
A mediana da altura é de 170.0

#### Moda

In [20]:
## escolher qual coluna vamos coletar os dados
print("A moda da idade é de ", table_medidas["idade"].mode())
print("A moda da altura é de", table_medidas["altura"].mode()) # neste caso a altura não possui moda.


# para calcular a moda usamos o .mode() do pandas dataFrames

A moda da idade é de  0    55
Name: idade, dtype: int64
A moda da altura é de 0    146
1    155
2    160
3    163
4    170
5    180
6    182
7    200
8    210
Name: altura, dtype: int64